body{
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}
html {
    background-color: black;
    background-image:pink;
    background-position: 50% 75%, 50% 50%;
    background-repeat: no-repeat, repeat;
    background-size: 150% 150%, 3em 3em;
    font-size: 100%;
    min-height: 100%;
}
  /**********/
 /* Slider */
/**********/

.slider {
    background-color: white;
    box-shadow: inset 0 0 2px hsla(0,0%,0%,.2),
                0 0px 1px hsla(0,0%,100%,.75),
                0 -1px 1px 2px hsla(0,0%,0%,.1);
    height: 0;
    left: 485px;
    top:325px;
    position: absolute;
    width: 25em;
}
/* Slides */

.slider li {
    box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);
    list-style:none;
    position: absolute;
}
.slider input {
    display: none;
}

.slider label {
    background-color: white;
    background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));
    border: .2em solid transparent;
    bottom: .5em;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: .5em;
    left: 24em;
    opacity: 0;
    position: absolute;
    /*transition: .25s;*/
    width: .5em;
    visibility: hidden;
    z-index: 10;
}
.slider label:after {
    border-radius: 100%;
    bottom: -.2em;
    box-shadow: inset 0 0 0 .2em black,
                inset 0 2px 2px white,
                0 1px 1px hsla(0,0%,100%,.25);
    content: '';
    left: -.2em;
    position: absolute;
    right: -.2em;
    top: -.2em;
}
.slider:hover label {
    opacity: 1;
    visibility: visible;
}
.slider input:checked + label {
    background-color: rgb(14, 13, 13);
}
.slider:hover li:nth-child(1) label {
    left: .5em;
}
.slider:hover li:nth-child(2) label {
    left: 2em;
}
.slider:hover li:nth-child(3) label {
    left: 3.5em;
}
.slider:hover li:nth-child(4) label {
    left: 5em;
}


/* Images */

.slider img {
    height: 18.75em;
    opacity: 0;
    transition: .25s;
    width: 25em;
    vertical-align: top;
    visibility: hidden;
}
.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.circle {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background:black;
    margin-top: 50px;
    margin-left: 250px; 
}
.circleb {
    position: absolute;
    top: 210px;
    left: 440px;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background:rgb(48, 43, 43);
    float: right;
    cursor: pointer;
}
.circlea {
    position: absolute;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background:rgb(228, 227, 227);
    top: 210px; 
    left: 1050px;
    cursor: pointer;
}
.circlec {
    position: absolute;
    top: 210px;
    left: 850px;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background:rgb(48, 43, 43);
    float: right;
    float: right;
    cursor: pointer;
}
.circled {
    position: absolute;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background:rgb(228, 227, 227);
    top: 210px; 
    left: 650px;
    float: right;
    border-width: 12px;
    border-color: cyan;
    float: right;
    cursor: pointer;
}
.circlebb {
    position: absolute;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background:rgb(228, 227, 227);
    top:210px; 
    margin-right: 800px;
    margin-left: 250px;
    float: left;
    cursor: pointer;
}
.imaage{
    position: absolute;
    margin-top: 100px;
    float: left;
}
.s{
    position: absolute;
    float: left;
    top: 325px;
    margin-left: 50px;
}
.e{
    position: absolute;
    float: right;
    top: 325px;
    left: 900px;
    margin-right: 50px;
}
.a{
    width: 100px;
}
#aa1{
    position: absolute;
    margin-top: 40px;
    margin-left: 15px;
    border-bottom: rgba(190, 190, 186, 0);
    border-color: rgba(245, 245, 220, 0);
    border-width: 0px;
    cursor: pointer;
}
#aa2{
    position: absolute;
    top: 40px;
    left: 15px;
    border:rgb(48, 43, 43) ;
    cursor: pointer;
}
#aa3{
    position: absolute;
    top: 40px;
    left: 15px;
    border-width: 0px;
    border: aliceblue;
    cursor: pointer;
}
#aa4{
    position: absolute;
    top: 40px;
    left: 15px;
    border-width: 0px;
    cursor: pointer;
}
#aa5{
    position: absolute;
    top: 40px;
    left: 15px;
    border-width: 0px;
    cursor: pointer;
}
#a{
    position: absolute;
    top: 10px;
    left: 5px;
    width: 1350px;
    height: 150px;
    background: aliceblue;
}
#name{
    position: absolute;
    font-size: 107px;
    left: 360px;
    top: 10px;
}