body{
    background-color: black;
}
#a{
    position: absolute;
    top: 10px;
    left: 100px;
}
.border {
    border: background-color="#fcfcfc" 
    -moz-box-shadow=0 0 40px rgb(56, 55, 55); -webkit-box-shadow:0 0 40px rgb(36, 35, 35); box-shadow:0 0 20px rgb(248, 244, 244);}
#img1{
        position: absolute;
        top: 170px;
        left: 30px;}
#img2{
    position: absolute;
    top: 170px;
    left: 375px;   
}
#img3{
    position: absolute;
    top: 170px;
    left: 720px;   
}   
#img4{
    position: absolute;
    top: 170px;
    left: 1065px;   
}  
#img5{
    position: absolute;
    top: 570px;
    left: 30px;   
}      
#img6{
    position: absolute;
    top: 570px;
    left: 375px;   
}
#name{
    font-size: 107px;
    position: absolute;
    top: 10px;
    left: 30px;
    font-family:  'Times New Roman', Times, serif;
}
#nam{
    font-size: 100px;
    position: absolute;
    top: 15px;
    left: 700px;
    font-family: 'Times New Roman', Times, serif;
}
#line{
    width: 5px;
    height: 150px;
    position: absolute;
    left: 670px;
    background: rgb(0, 0, 0);
}
#a{
    position: absolute;
    top: 10px;
    left: 5px;
    width: 1350px;
    height: 150px;
    background: aliceblue;
}